
@font-size{
	font-family: tmb;
	src: url("DS-DOGIB.TTF") format("TrueType");
}
body>div{
	font-size: 13pt;
	padding-bottom: 8px;
}
div>span{
	font-family: tmb;
	font-size: 20pt;
	color: white;
}

.tetris-bg-box{
	width:338px;
	border:1px solid black;
	background:#235;
	overflow:hidden;
	color:#789;
	margin:10px auto;
}
.bar-left{
	float:left;
}
.bar-right{
	float:right;
}
.p-l-108{
	padding-left:92px;
}
.tips{
	position: absolute;
    top: 2rem;
    left: 50%;
    margin-left: 200px;
    width: 150px;
    padding: 20px;
    border: 1px solid #ccc;
    list-style: none;
    border-top-right-radius: 80px;
    background: #ffe;
}
.tips:before{
	content: "";
    border-top-right-radius: 95px;
    border: 1px solid #ccc;
    background: #ffffef;
    padding: 32px;
    position: absolute;
    top: 0;
    right: 0
}
.tips:after{
	content:"";
	padding:5px;
	border-radius:1px solid #ccc;
	background:#aaa;
	position:absolute;
	top:0;
	left:0;
}
.main-content{
	position:relative;
}
