
@font-size{
	font-family: tmb;
	src: url("DS-DOGIB.TTF") format("TrueType");
}
body>div{
	font-size: 13pt;
	padding-bottom: 8px;
}
div>span{
	font-family: tmb;
	font-size: 20pt;
	color: white;
}

.tetris-bg-box{
	width:338px;
	border:1px solid black;
	background:#235;
	overflow:hidden;
	color:#789;
	margin:10px auto;
}
.bar-left{
	float:left;
}
.bar-right{
	float:right;
}
.p-l-108{
	padding-left:92px;
}
.tips{
    position: absolute;
    top: 2rem;
    left: 50%;
    margin-left: 14rem;
    width: 130px;
    padding: 25px 10px 15px 25px;
    border: 1px solid #ccc;
    list-style: none;
    border-top-right-radius: 60px;
    background: #ffe;
    font-weight:bold;
    box-shadow:0 3px 3px rgba(120,120,120,0.5);
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -o-transform: rotate(7deg);
}
.tips:before{
    content: "";
    border-top-right-radius: 95px;
    border: 1px solid #ccc;
    background: #ffffef;
    padding: 23px;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow:0 2px 2px rgba(120,120,120,0.3);
}
.tips:after{
    content: "";
    padding: 5px;
    border: 5px solid #ccc;
    background: #333;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 10px;
    box-shadow:-2px 1px 0px rgba(20,20,20,0.5);
}
.tips li:first-child{
	font-weight:normal;
}
.main-content{
	position:relative;
}
